.page {
  min-height: 100vh;
}

.main {
  width: min(100% - 2.5rem, var(--max-width));
  margin: 0 auto;
  padding: 3.5rem 0 4rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.backLink {
  width: fit-content;
  border-radius: 12px;
  padding: 0.2rem 1rem;
  border: 1px solid transparent;
  font-weight: 600;
  color: var(--color-primary);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  &:hover {
    border: 1px solid white;
  }
}
